<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Al Baraq</title>
</head>

<body>

    {% extends "public/base.html" %}


{% block title %}
    Home | Al Baraq
{% endblock %}


{% block content %}

<section>

    <h1>
        Welcome to Al Baraq
    </h1>

    <p>
        Your trusted destination for quality electrical products.
    </p>

</section>

{% endblock %}
</body>

</html>