<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {{ title }} | Al Baraq
    </title>

</head>


<body>

    <p>

        <a href="{% url 'products:category_list' %}">
            ← Back to Categories
        </a>

    </p>


    <h1>
        {{ title }}
    </h1>


    <form
        method="POST"
        enctype="multipart/form-data"
    >

        {% csrf_token %}


        {{ form.as_p }}


        <button type="submit">
            Save Category
        </button>

    </form>


</body>

</html>